<div class="content">
  
  <!-- start-page -->
  <div data-role="page" class="start-page" id="start-page" >

      <div class="content" >
        <div class="text">
          <%= image_tag('homelogo.png', :class => "mappitlogo")  %>
          <p>
            It's the new and growing social media app<br/>
            where you can see what's happening around<br/>
            you in real time.
          </p>
          <div class="container" >          
            <div class="col-md-6" >
              <a href="#"><%= image_tag('appstorelogo.png', :class => "appstore")  %></a>
            </div>
            <div class="col-md-6" > 
              <a href="#"><%= image_tag('googleplaylogo.png', :class => "playstore")  %></a>
            </div>            
          </div>          
        </div>
          <%= image_tag('homeiphone.png', :class => "iphonehome")  %>
      </div>
<!--        <div class="support" ></div>-->
  </div>



  <!-- section about us -->  
  <div data-role="page" class="about-us" id="about-us">

    <div class="content">
      <%= image_tag('2iphone1.png', :class => "iphone21")  %>
      <%= image_tag('2iphone.png', :class => "iphone2")  %>
      <%= image_tag('photo1.png', :class => "photo1")  %>
      <%= image_tag('photo2.png', :class => "photo2")  %>
      <%= image_tag('photo3.png', :class => "photo3")  %>
      <%= image_tag('photo4.png', :class => "photo4")  %>
    </div>
    <div class="copycontainer" >
      <p>
        Share your pictures and show your followers<br/>
        and friends where the fun is
      </p>
    </div>
  
  </div>
  
  <div class="clear"></div>  


  <!-- partners-->

  <div data-role="page" class="partners" id="partners">    
    <div id="carousel-example-generic" class="ui-contenr carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('slide1.png')  %>
        </div>
        <div class="item">
          <%= image_tag('slide2.png')  %>
        </div>        
      </div>     
    </div> <!-- Carousel -->
  </div>



  <!-- portoflio-->

    <div data-role="page" class="portfolio" id="portfolio">
      <div class="content">
        <div class="col-md-3"></div>
        <div class="icons col-md-6" >
         <%= image_tag('followicon.png', :class => "followicon")  %> 
         <%= image_tag('likeicon.png', :class => "likeicon")  %>
         <%= image_tag('commenticon.png', :class => "commenticon")  %> 
         <%= image_tag('reposticon.png', :class => "reposticon")  %>
        </div>    
        <div class="col-md-3"></div>
      </div>
      <%= image_tag('3iphone.png', :class => "iphone3")  %>
      <%= image_tag('3message.png', :class => "message3")  %>
    </div>

  
   <div class="clear"></div>  

  
  <!-- contact--> 

  <div data-role="page" class="contact" id="contact">      

      <%= image_tag('fullmappitlogo.png', :class => "fullmappitlogo")  %>

      <h2>Got a sugestion for us? Write it down!</h2>          
      <div class="content">     
        <div class="form" id="formulario">         
          <%= flash[:notice] %> 
          <%= form_for(@fullpage, url: message_path) do |f| %>            
            <%= render 'shared/error_messages' %>
            <%= f.email_field :email, placeholder: "E-mail Address", :class => 'form-control' %>
            <%= f.text_area :comment, placeholder: "Comment", :class => 'form-control' %>
            <%= f.submit "Send", class: "button btn btn-default" %>             
          <% end %>
        </div>      
      </div>
      <div class="formimage">
        <%= image_tag('formimage.png', :class => "image")  %>
      </div>
  </div> 


<!--
  <button>
    <%= link_to "contact", messages_new_path%>
  </button>
-->


</div>