<!DOCTYPE html>
<html>
<head>
	
  <title>Mappit! - the living map.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
	<script src="/assets/jquery-2.1.4.min.js"></script> 
	<script src="/assets/jquery.jscroll.min.js"></script> 
	<script src="/assets/jquery-ui-sliderAccess.js"></script> 
	<script src="/assets/jquery.nicescroll.js"></script>
	<script src="/assets/jquery.ui.min.js"></script> 
	<script src="/assets/jquery.parallax.js"></script>
	<script src="/assets/aboutjquery.js"></script>     
	<link rel="icon" type="image/png" href="/assets/mappitfavicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
</head>
	

<body>

<%= yield %>

<div class="buttonscontainer">	
	<a data-transition="fade" class="homebutton" href="#start-page"><%= image_tag('activebutton.png', :class => "homebutton", :id => "homebutton")  %></a>
	<a data-transition="fade" class="page2button" href="#about-us"><%= image_tag('notactivebutton.png', :class => "page2button", :id => "page2button") %></a>
	<a data-transition="fade" class="page3button" href="#partners"><%= image_tag('notactivebutton.png', :class => "page3button", :id => "page3button") %></a>
	<a data-transition="fade" class="page4button" href="#partners2"><%= image_tag('notactivebutton.png', :class => "page4button", :id => "page4button") %></a>
	<a data-transition="fade" class="page5button" href="#portfolio"><%= image_tag('notactivebutton.png', :class => "page5button", :id => "page5button") %></a>
	<a data-transition="fade" class="messagesbutton" href="#contact"><%= image_tag('notactivebutton.png', :class => "messagesbutton", :id => "messagesbutton") %></a>
</div>

</body>
</html>